@import nib

textarea
  background none
  border none
  overflow auto
  outline none
  box-shadow none
  resize none
  margin 0
  padding 15px 15px 0 15px
  width calc(100% - 30px)

.meeting
  .name
    margin 30px 0

  .motion
    margin 60px 0
    border 1px solid #ddd
    border-radius 4px

    .body
      border-bottom 1px solid #ddd

      .progress
        margin-bottom 0
        border-radius 0

    table
      width 100%
      border-collapse collapse
      border-style hidden

      td, th
        border 1px solid #ddd

      .pros .shareJSText
        background-color #f3fff3

      .cons .shareJSText
        background-color #fff3f3

      .notes .shareJSText
        background-color #f9f9f9

  .motion.highlighted
    border 3px solid #3cc

#login-buttons
  position absolute
  right 16px
  top 12px

/* We use both ui-sortable-handle and agenda-item because sometimes
   ui-sortable-handle is not set if sortable was initialized before
   Meteor added elements. */
.ui-sortable-handle.draggable
.agenda-item.draggable
  cursor -moz-grab
  cursor -webkit-grab
  cursor grab

.ui-sortable-helper.draggable
  cursor -moz-grabbing
  cursor -webkit-grabbing
  cursor grabbing
