<template name="agendaItem">
  <div class="agenda-item {{#if currentUserIsFacilitator}}draggable{{/if}}">
    {{#if actionItem}}
      {{> actionItem}}
    {{else}}
      {{> discussionItem}}
    {{/if}}
  </div>
</template>

<template name="actionItem">
  <div class="action-item">
    <h5 class="description">{{description}} (action item)</h5>
    {{#each motions}}
      {{> motion}}
    {{/each}}
    {{#if currentUserId}}
      <div class="addMotion">
        {{> addMotion}}
      </div>
    {{/if}}
  </div>
</template>

<template name="discussionItem">
  <div class="discussion-item">
    <h5 class="description">{{description}} (discussion item)</h5>
    {{> sharejsText docid=notes}}
  </div>
</template>

<template name="addAgendaItem">
  <form>
    <label><input type="checkbox" class="action-item"> Action item</label>
    <label>Description<textarea class="description"></textarea></label>
    <button type="submit">Add agenda item</button>
  </form>
</template>
